<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
      <add key="Facebook:AppId" value="558074537545521"/>
      <add key="Facebook:AppSecret" value="c164ed58b42a494127d0b8a4c42a043f"/>
      <add key="Facebook:AppNamespace" value="mobile_app_tests"/>
      <add key="Facebook:PageName" value="MQ163"/>
      <add key="Facebook:AlbumName" value="Test_Album"/>
      <add key="Facebook:redirectUrl" value=""/>
    </appSettings>

    <connectionStrings>

    </connectionStrings>
</configuration>
