<html>
<body>
    <h2>Enter Auth Token</h2>
    <form action="/home/post" method="post">
        <input type="text" id="authToken" name="authToken"/>
        <input type="submit" value="Submit" />
    </form>
</body>
</html>
